body { 
    font-family: sans-serif; 
    margin: 0; 
    padding: 0;
}

#message { 
    background: white; 
    max-width: 360px; 
    margin: 100px auto 16px; 
    padding: 32px 24px; 
    border-radius: 15px;
}

#message h2 { 
    color: #ffa100; 
    font-weight: bold; 
    font-size: 16px; 
    margin: 0 0 8px; 
}

#message h1 { 
    font-size: 22px; 
    font-weight: 300;
    text-align: center;
    color: rgba(0,0,0,0.6); 
    margin: 0 0 16px;
}

.tabs button{
    border: none;
    border-radius: 10px;
}
.tabs button img {
    width: 50px;
    height: 50px;
    transform: translateY(2px);
}

.tabs #m-button {
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(105, 98, 105, 0.294);
}

.tabs #f-button {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
}


.bathrooms p { 
    line-height: 140%; 
    margin: 16px 0 24px; 
    font-size: 14px; 
}

#message { 
    box-shadow: 8px 10px 15px rgb(0, 0, 0); 
}

#load { 
    color: rgba(0,0,0,0.4); 
    text-align: center; 
    font-size: 13px; 
}

.m-bathrooms {
    margin-top: 18px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}


.g-bathrooms {
    margin-top: 18px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.m-status p {
    text-align: center;
}

.m-buttons p {
    margin: 13px;
    text-align: center;
}

#load {
    display: none;
}

.credits {
    font-style: italic;
    text-align: center;
    grid-column: 1 / 4; 
}

.credits p {
    font-size: 13px;
    padding: 0;
    margin: 20px 0 0 0;
}

.tabs {
    text-align: center;
}

.m-locations {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.m-status {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.m-buttons {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.m-status p {
    text-align: right;
}

.m-buttons p {
    text-align: left;
}

.indexButtons {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.credits {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

table {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.m-table  {
    text-align: Center;
}

.m-table #status-text {
    text-align: center;
}

.m-table #status-emoji {
    text-align: left;
}

.f-table #status-text {
    text-align: center;
}

.f-table #status-emoji {
    text-align: left;
}

.f-table-main {
    display: none;
}

/*update and login page */

.login h1 {
    text-align: center;
}
.login #nav p{
    text-align:center;
    width:auto;
    font-size:38px;
    font-style: bold;
}

.login table {
    border-collapse: collapse;
    width: 100%;
  }
.login th{
    text-align:center;
}
.login td {
    text-align: left;
    padding: 8px;
  }
  
.login tr:nth-child(even) {background-color: #f2f2f2;}

.login{
    text-align: center;
}

.loginButtons button, .updateButtons button, .indexButtons button{
    font-size: 15px;
    padding:5px;
    margin-top:15px;
    margin-right:10px;
    margin-left:10px;
    border-radius: 9px;
    border:none;
}

.indexButtons button{
    margin-top:22px;
    margin-left: 0;
    margin-right: 0;
}

/*
@media (max-width: 600px) {
    body, #message { 
        margin-top: 0; 
        background: white; 
        box-shadow: none; 
    }
    
    body { 
        border-top: 16px solid #ffa100; 
    }
}
*/